@media (max-width: 768px) {
	h1 a {
		font-size: 0.8em;
	}
	.title a {
		font-size: 0.8em;
	}
}

@media (max-width: 1160px) {
	.thumbn img {
		max-width: 200px;
		max-height: 200px;
	}

	.project-container {
		max-width: 200px;
		max-height: 200px;
	}
}

@media (max-width: 440px) {
	.thumbn img {
		max-width: 150px;
		max-height: 150px;
	}

	.project-container {
		max-width: 150px;
		max-height: 150px;
	}
	.project__title {
		font-size: 1em;
	}
	.project__excerpt p {
		font-size: 0.7em;
	}
}


@media (max-width: 517px) {
	h1 a {
		font-size: 0.6em;
	}
	.title a {
		font-size: 0.5em;
	}
}

body {
	font-family: 'Ubuntu Mono', monospace;
	color: #444649;
}

.abt-txt {
	line-height: 2em;
}

.about-desc h2 {
	text-align: right;
	border-bottom: solid 3px #F94889;;
	display: inline-block;

}

.main-body {
	background-color: #111;
	color: #EEE;
	height: 100vh;
}

/* Color por defecto de la barra de navegacion */

.navbar-default .navbar-nav li a {
	color: white;
	font-size: 18px;
}

/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #F94889;
}
*/
.navbar-default .navbar-nav > li > .nav-home > a:hover {
    font-weight: bold;
}

/* Definiendo colores para cada seccion */
 #nav-home:focus  {
    color: white;
    outline:0;
    font-weight: bold;
}

#nav-about:hover, #nav-about:focus  {
    color: #F94889;
    outline:0;
    font-weight: bold;
}

#nav-projects:hover, #nav-projects:focus {
    color: #a6e22d;
    outline:0;
    font-weight: bold;
}

#nav-blog:hover, #nav-blog:focus {
    color: #fd8a20;
    outline:0;
    font-weight: bold;
}

#nav-contact:hover, #nav-contact:focus {
    color: #61c2e4;
    outline:0;
    font-weight: bold;
}

/* Al agregar ID: Cambiar los links de color base al cambiar de pagina */
#bright a {
	color: #282828;
}


.navbar-default {
	background-color: transparent;
	border: 0;
	margin: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	color: green;
}


.navbar-default .navbar-toggle {
	
}

.navbar-default .navbar-toggle .icon-bar {
	
}

.title-container {
	margin-top: 40vh;
	border: solid 2px;
	text-align: center;
	max-width: 90%;
}

.title {
	font-size: 2em;
	padding: 15px;
	text-align: center;
}

.bot-footer {
	text-align: center;
	bottom: 0;
	position: absolute;
	right: 10px;
}

.skill-underscore {
	font-weight: bold;
	color: #F94889;
}

div a {
	text-decoration: none;
	color: #fff;	
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

.post_thumb {
	float: left;
}

h1 {
	margin-top: 15vh;
	font-size: 60px;
	font-weight: bold;
}

.about-section h1 {
	color: #F94889;
	margin-bottom: 30px;
}

.about-desc h2 {
	margin-top: 0;
}

.about-section {
	text-align: justify;
}

.about-image {
	max-width: 100%;
}

.sec-projects h1 {
	color: #a6e22d;
}

.sec-blog h1 {
	color: #fd8a20;
}

.sec-contact h1 {
	color: #61c2e4;
}

.sec-projects p {
	color: white;
}

/*Using inline-block*/

.project-image {
	display: inline-block;
	max-width: 300px;
	margin-bottom: 10px;
}

.far, .fas {
	font-size: 1.2em;
	color: black;
	margin-right: 10px;
}

.skill-list li {
	list-style-type: none;
	padding-bottom: 10px;
	/*text-align: right;*/
}

.skill-list h2 {
	/*text-align: right;*/
	font-size: 1.5em;
}

ul {
	padding: 0;
}

.skill-txt {
	display: inline-block;
}

.about-desc {
}

.about-image {
	display: block;

}

.project-container {
    position: relative;
    width: 50%;
}

.project__img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 80%;
  transform: translate(-80%, -150%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.post_line {
	height: 60px;
	background-color: #282828;
}

.post_container {
	padding: 50px;
	max-width: 100%;
	margin: auto;
}


.project-container:hover .project__img {
  opacity: 0.3;
}

.project-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.main-body, .sec-projects {
	color: white;
}

.project-text p {
	margin: 0;	
}

.project a {
	text-decoration: none;	
}

.project-text:hover {
	color: #a6e22d;
	font-style: bold;
	text-decoration: none;
	opacity: 1;
}

.project__title:hover {
	color: #a6e22d;
	opacity: 2;
}

.about-section {
	color: #282828;
}

.project-container {
	display: inline-block;
	float: left;
	width: 300px;
	height: 300px;
	margin: 10px 10px;
}

.main-logo {
	color: white;
}

.sec-contact p {
	margin: 0;
}

.contact__form {

}

.post__title {
	display: block;
	font-size: 60px;
	font-weight: bold;
}

#gallery {
	text-align: center;
	max-width: 80%;
	margin: auto;
}

.gallery__button {
	margin: 10px auto;
	padding: 20px;
	text-align: center;
	border: #282828 1px solid;
	max-width: 60%;
	font-size: 2em;
}

.ajax__gallery h1 {
	margin-top: 0;
}

label {
	color: white;
	font-weight: normal;
}


.pixabay img {
	display: block;
	margin: 0 auto;
}

.wpcf7-form-control .wpcf7-submit {
	max-width: 20%;
}